<%- include('includes/head', { pagetitle: 'An error occured' }) %> 
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Could not find product</h1>
        <p>Unfortunately, we could not find requested page!</p>
        <p><a href="/" class="btn"></a>Back to safety!</p>
    </main>
<%- include('includes/footer') %> 