<%- include('includes/head', { pagetitle: 'An error occured' }) %> 
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately, something went wrong - please try again later. </p>
        <p><a href="/" class="btn"></a>Back to safety!</p>
    </main>
<%- include('includes/footer') %> 