<%- include('../../includes/head', { pagetitle: 'All your orders' }) %> 
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('../../includes/header') %>
    <main>
        <h1>All Your Orders</h1>
        <%- include('../../includes/order-list') %>
        </ul> 
    </main>
<%- include('../../includes/footer') %> 